<header>

    <form method="get" action="{{url}}" class="container">

        <label for="websiteurl">Website url</label>
        <input type="text" id="websiteurl" name="websiteurl" value="{{name}}">

        <button type="submit">Check accessibility</button>

    </form>

</header>