<header>

    <form method="get" action="{{url}}" class="container">

        <label for="websiteurl">Website url</label>
        <div>
            <input type="text" id="websiteurl" name="websiteurl" value="{{name}}">
            <button type="submit">Check&nbsp;accessibility</button>
        </div>

    </form>

</header>