{{> formurl }}

<div class="container">

    <section class="info">
        <p>Une erreur est survenue en tentant d'accéder à l'URL: {{name}}</p>
        <p>Message d'erreur: {{message}}</p>
    </section>

</div>