/*** global ***/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  --cLightGray: hsl(0, 0%, 98%);
  --cMidGray: hsl(0, 0%, 93%);
  --cDarkGray: hsl(210, 4%, 18%);
  --cBaseGray: hsl(0, 0%, 60%);
  --cWhite: hsl(0, 0%, 100%);
  --cGreen: hsl(146, 65%, 40%);
  --fFamily: arial, sans-serif;
  --fSizeBase: 1.125rem;

  --cNotice: hsl(240, 100%, 50%);
  --cWarning: hsl(39, 100%, 50%);
  --cError: hsl(0, 100%, 50%);

  margin: 0;
  padding: 0;
}

/*** print ***/
@media print{
  body > *:not(main){
    display: none;
  }
  
  a[href^="http"]:not([href*="mywebsite.com"])::after{
    content: " (" attr(href) ")";
  }
}

/*** accessibility ***/
p{
  max-width: 66ch;
}

.visually-hidden{
  position: absolute !important;
  height: 1px; 
  width: 1px; 
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
  
.visually-hidden a:focus,
.visually-hidden input:focus,
.visually-hidden button:focus { 
  position:static; 
  width:auto; 
  height:auto;  
}

/*** typography ***/
body {
  font: 1.125rem / 1.5 sans-serif;
}
  
p {
  font-size: 1em;
  margin-top: 0;
}
  
h1, h2, h3, h4, h5, h6 {
  font-size: 1.16em;
  line-height: 1.1;
  margin: .5em 0 0 0;
}
  
h1 {
  font-size: 2.4em;
  margin-top: 0;
}
  
h2 {
  font-size: 2.1em;
}
  
h3 {
  font-size: 1.8em;
}
  
h4 {
  font-size: 1.5em;
}
  
h5 {
  font-size: 1.3em;
}

a{
  color: var(--cDarkGray);
  text-decoration: underline;
}

/*** form ***/
input, 
button{
  height: 44px;
  font-size: 1em;
  font-family: inherit;
  border: none;
}

button{
  display: inline-block;
  padding: .5rem 1.5rem;
  background-color: hsl(146, 65%, 40%);;
  border-color: hsl(146, 65%, 40%);;
  color: hsl(0, 0%, 100%);
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background-color .2s;
}

button:hover{
  background-color: hsl(146, 65%, 30%);;
}

/*** layout ***/
body{
  background-color: var(--cLightGray);
  color: var(--cDarkGray);
}

header{
  background-color: var(--cDarkGray);
  color: var(--cWhite);
  display: flex;
  flex-flow: row wrap;
}

header > form > label{
  display: block;
}

header > form > div{
  display: flex;
  flex-flow: column wrap;
}

header > form > label,
header > form > div > input,
header > form > div > button{
  width: 100%;
  margin-bottom: .5rem;
}

@media(min-width: 40rem){
  header{
    flex-flow: column wrap;
  }
  header > form > div{
    flex-flow: row nowrap;
  }
  header > form > div > input{
    width: 100%;
  }
  header > form > div > button{
    max-width: 240px;
  }
}

.container{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
}

.info{
  padding: 1em 0;
}

.info p{
  margin: 0;
}

/*** tabs ***/
.tabs{
  border-bottom: 1px solid var(--cMidGray);
  margin-bottom: 1rem;
}

.tabs > ul{
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs > ul > li{
  display: inline-block;
  margin-right: .5rem;
}

span.label{
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 2px 6px;
  border-radius: 8px;
  background-color: hsl(210, 4%, 18%);
  color:hsl(0, 0%, 100%);
  margin-left: 4px;
  height: auto;
}

.tabs > ul > li > a{
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: .5rem 1.5rem;
  border-radius: .5rem .5rem 0 0;
  background-color: var(--cMidGray);
}

.tabs > ul > li > a:hover{
  background-color: var(--cDarkGray);
  color: var(--cWhite);
  text-decoration: underline;
}

.tabs > ul > li > a.active{
  background-color: var(--cDarkGray);
  color: var(--cWhite);
}

/*** cards ***/
.cards{
  background-color: white;
  border: 1px solid var(--cBaseGray);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  padding: 2rem;
  margin-bottom: 2rem;
}

.cards > span{
  text-transform: uppercase;
  font-size: .8rem;
}

.cards-type-warning{
  border-color: var(--cWarning);
}

.cards-type-error{
  border-color: var(--cError);
}

.cards-type-notice{
  border-color: var(--cNotice);
}

.cards-type-warning > span{
  color: var(--cWarning);
}

.cards-type-error > span{
  color: var(--cError);
}

.cards-type-notice > span{
  color: var(--cNotice);
}

.cards > h2{
  margin: 0 0 .5em 0;
  font-size: 1em;
}

.cards > code{
  display: block;
  background-color: var(--cLightGray);
  border: 1px solid var(--cMidGray);
  padding: 1rem;
}

.cards > code > p{
  margin: 0;
  max-width: none;
}